@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.vg-header {
    background-color: black;
    border-radius: 5px;
    padding: 15px 0;
}

.vg-header-in {
    float: left;
    margin: 0 10px;
    color: rgb(160, 156, 156);
    font-weight: normal;
}

.vg-non-header {
    margin-top: 7px;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

.vg-button {
    font-weight: bold;
    background-color: steelblue;
    float:right;
    margin-right: 2%;
    margin-top: .7%;
    color: white;
}

.vg-links,
.vg-links:hover {
    text-decoration: none;
}

.vg-links {
    color: rgb(160, 156, 156);
}

.vg-links:hover {
    color: rgb(197, 194, 194);
}