@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.card-header {
    background-color: lightsteelblue;;
}

.vd-strong-input-parent {
    display: flex;
    margin: 8px 0;
}

.vd-strong-input {
    flex: 1;
    margin-left: 10px;
}

.vd-input-left,
.vd-input-right {
    width: 97%;
    border-color: lightsteelblue;
}

.card {
    margin: 3% 3% 0 3%;
}

.vd-save-button {
    float: right;
    background-color: forestgreen;
    color: white;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}

.fa-download {
    margin-left: 2%;
}

.card-header {
    color: white;
    font-weight: bold;
}

.react-select {
    margin-right: 3%;
}

.sale-price {
    width: 48.1%;
}