@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.vg-button {
    font-weight: bold;
    background-color: steelblue;
    float:right;
    margin-right: 2%;
    margin-top: .7%;
    color: white;
}

.vg-border {
    border: none !important;
}

td {
    text-align: left;
    border-top: 1px solid lightgray !important;
}

.fa-pencil,
.fa-trash {
    color: white;
    font-size: 22px;
}

.trash-button {
    background-color: rgb(224, 33, 33);
    border-radius: 7px;
    height: 35px;
    width: 35px;
}

.pencil-button {
    margin-right: 3px;
    background-color: forestgreen;
    border-radius: 7px;
    height: 35px;
    width: 35px;
}